* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul, ol {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

header .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    position: relative;
}

header a.logo img {
    height: 25px; 
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    font-size: 12pt;
    text-align: center;
    padding: 20px 0;
    margin-left: 50px;
    font-weight: 300;
}
header nav ul li a {
    color: #4ea392;
    text-decoration: none;
}

header nav ul li:last-child {
    margin-left: 400px;
}

header nav ul li:first-child {
    font-weight: bold;
}

section.banner {
    background-image: url('Rorun_layout_pliki/home/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    padding: 150px 0;
    margin: 50px auto;
}
section.banner h1 {
    margin: 0;
    font-size: 100pt;
    line-height: 85pt;
}
section.banner h2 {
    font-size: 54pt;
}
section.banner .description {
    font-size: 18pt;
}
section.banner .description::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 100%;
    height: 2px;
    background-color: white;
    margin: 50px 0 ;
}
section.banner .adress {
    font-style: italic;
}