* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

ul, ol {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: block;
    width: 300px;
    font-weight: 700;
    background-color: white;
    color: #4ea392;
    text-decoration: none;
    padding: 15px;
    margin: 60px auto 0;
    font-size: 12pt;
}

.btn-news {
    display: block;
    width: 300px;
    font-weight: 700;
    background-color: #4ea392;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 60px auto 0;
    font-size: 12pt;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 3;
}

header .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    position: relative;
}

header a.logo img {
    height: 25px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    font-size: 12pt;
    text-align: center;
    padding: 20px 0;
    margin-left: 50px;
    font-weight: 400;
}

header nav ul li a {
    color: #4ea392;
    text-decoration: none;
}

header nav ul li:last-child {
    margin-left: 400px;
}

header nav ul li:first-child {
    font-weight: bold;
}

section.banner {
    background-image: url('Rorun_layout_pliki/home/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    height: 800px;
    padding: 150px 0;
}

section.banner .wrapper {
    padding-top: 200px;
}

section.banner h1 {
    font-size: 100pt;
    line-height: 85pt;
    font-weight: 800;
}

section.banner h2 {
    font-size: 54pt;
    font-weight: 400;
}

section.banner .description {
    font-size: 18pt;
    font-weight: 400;
}


section.banner .description::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 100%;
    height: 2px;
    background-color: white;
    margin: 50px 0 ;
}

section.banner .adress {
    font-style: italic;
}

section.banner-contact {
    background-image: url('Rorun_layout_pliki/kontakt/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    height: 800px;
    padding: 150px 0;
}

section.banner-contact .wrapper {
    padding-top: 200px;
}

section.banner-contact h1 {
    font-size: 100pt;
    line-height: 85pt;
    font-weight: 800;
}

section.banner-contact h2 {
    font-size: 54pt;
    font-weight: 400;
}

section.banner-contact .description {
    font-size: 18pt;
    font-weight: 400;
}


section.banner-contact .description::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 100%;
    height: 2px;
    background-color: white;
    margin: 50px 0 ;
}

section.banner-contact .adress {
    font-style: italic;
}


section.banner-about {
    background-image: url('Rorun_layout_pliki/o nas/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    height: 800px;
    padding: 150px 0;
}

section.banner-about .wrapper {
    padding-top: 200px;
}

section.banner-about h1 {
    font-size: 100pt;
    line-height: 85pt;
    font-weight: 800;
}

section.banner-about h2 {
    font-size: 54pt;
    font-weight: 400;
}

section.banner-about .description {
    font-size: 18pt;
    font-weight: 400;
}


section.banner-about .description::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 100%;
    height: 2px;
    background-color: white;
    margin: 50px 0 ;
}

section.banner-about .adress {
    font-style: italic;
}


section.banner-aktualnosci {
    background-image: url('Rorun_layout_pliki/aktualnosci/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    height: 800px;
    padding: 150px 0;
}

section.banner-aktualnosci .wrapper {
    padding-top: 200px;
}

section.banner-aktualnosci h1 {
    font-size: 100pt;
    line-height: 85pt;
    font-weight: 800;
}

section.banner-aktualnosci h2 {
    font-size: 54pt;
    font-weight: 400;
}

section.banner-aktualnosci .description {
    font-size: 18pt;
    font-weight: 400;
}


section.banner-aktualnosci .description::after {
    display: block;
    content: "";
    width: 300px;
    max-width: 100%;
    height: 2px;
    background-color: white;
    margin: 50px 0 ;
}

section.banner-aktualnosci .adress {
    font-style: italic;
}

.sentence {
    margin: 100px 0;
    text-align: center;
}

.sentence h2 {
    font-size: 45pt;
    font-weight: 800;
}

.sentence h3 {
    font-size: 30pt;
    font-weight: 400;
    color: grey;
}

.sentence p {
    font-size: 13pt;
    font-weight: 400;
    color: grey;
    margin-left: 15%;
    margin-right: 15%;
}

.sentence h3::after {
    content: "";
    display: block;
    width: 150px;
    max-width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 25px auto;
}

section.skills .skills-wrapper {
    display: flex;
    justify-content: space-around;
    
}

section.skills .skills-wrapper .skills-item {
    width: 33,3%;
    text-align: center;
    margin: 60px 0;
    padding: 0 30px;
}

section.skills .skills-wrapper .skills-item img {
    height: 80px;
}

section.skills .skills-wrapper .skills-item h4 {
    font-size: 18pt;
    margin: 30px 0 30px;
}

section.skills .skills-wrapper .skills-item p {
    font-size: 13pt;
}

.cooperation {
    background-color: #4ea392;
    text-align: center;
    color: white;
    height: 400px;
}

section.cooperation h2 {
    font-weight: 800;
    font-size: 27pt;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 70px;
}

section.cooperation p {
    font-weight: 400;
    font-size: 23pt;
    margin-top: 0;
}

.cooperation .cooperation-wrapper {
    display: flex;
    justify-content: space-around;

}

section.cooperation .cooperation-wrapper .partner {
    width: 33,3%;
    text-align: center;
    margin: 40px 0;
    padding: 0 30px;
}

.cooperation p::after {
    content: "";
    display: block;
    width: 150px;
    max-width: 100%;
    height: 2px;
    background-color:white;
    margin: 25px auto;
}

section.achievements  {
    background-color: rgb(233, 233, 233);
    height: 300px;
}

section.achievements .achievements-wrapper {
    display: flex;
    justify-content: space-around;
}

section.achievements .achievements-wrapper h4 {
    margin-top: 20px;
    font-size: 50pt;
    color: #4ea392;
    text-align: center;
    margin-top: 50%;
}

section.achievements .achievements-wrapper p {
    margin:0;
    font-size: 18pt;
    color: grey;
    font-weight: 300;
    text-align: center;
}

.profit {
    background-color: #fff;
    text-align: center;
    color: black;
    width: 100%;
}

section.profit h2 {
    font-weight: 800;
    font-size: 27pt;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 70px;
}


.first {
    font-weight: 400;
    font-size: 23pt;
    margin-top: 0;
    color: rgb(77, 77, 77);
}


.first::after {
    content: "";
    display: block;
    width: 150px;
    max-width: 100%;
    height: 2px;
    background-color: grey;
    margin: 25px auto;
}

.profit-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profit-wrapper .profit-item {
    width: 33.3%;
    text-align: center;
    padding: 25px 40px;
}

.profit-wrapper h4 {
    font-weight: 400;
    font-size: 18pt;
    margin-top: 0;
}

.profit-wrapper span {
    color: #4ea392;
}


.profit-wrapper p {
    font-weight: 300;
    font-size: 13pt;
    margin-top: 0;
}

.profit-wrapper h4::after {
    content: "";
    display: block;
    width: 100px;
    max-width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 9px auto;
    margin-bottom: 30px;
}

.quote {
    background-color: #4ea392;
    height: 500px;
    color: white;
    text-align: center;
    margin: 0;
}

.quote p {
    margin-top: 0;
    font-size: 21pt;
    font-weight: 400;
    padding: 80px 40px 0;
}

.quote p::after {
    content: "";
    display: block;
    height: 2px;
    width: 150px;
    text-align: center;
    background-color: white;
    margin: 25px auto 0;
}

.quote h3 {
    font-size: 18;
    font-weight: 400;
    padding: 0;
}

.news h2 {
    font-weight: 800;
    font-size: 27pt;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 70px;
}

.news-box {
    padding: 10px;
    background: white;
    height: 900px;
    max-width: auto;
    margin-top: -40px;
}


div.dymek{
    padding: 110px;
    background: rgb(233, 233, 233);
    height: 600px;
    max-width: auto;
    position: relative;
    margin-top: 60px;
    z-index: 1;
}

div.dymek::before{
    content:'';
    position: absolute;
    left: 46.5%;
    top: -5px;
    width: 100px;
    height: 100px;
    display: block;
    transform: rotate(45deg);
    background: inherit;
}

.news {
      text-align: center;
}

.news-wrapper {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    
}

.news-wrapper .news-item {
      background-color: white;
      border-bottom: 3px solid #4ea392;
      text-align: left;
      color: rgb(77, 77, 77);
      margin-top: 10px;
      margin-left: 50px;
}

.news-wrapper .news-box-item {
    background-color: white;
    border-bottom: 3px solid #4ea392;
    text-align: left;
    color: rgb(77, 77, 77);
    margin-top: 30px;
    margin-left: 70px;
}

.news-item h4 {
    font-size: 18pt;
    margin-left: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.news-item p {
    font-size: 13pt;
    margin-left: 20px;
    margin-top: 0px;
    font-weight: 200;
}

.news-box-item h4 {
    font-size: 18pt;
    margin-left: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.news-box-item p {
    font-size: 13pt;
    margin-left: 20px;
    margin-top: 0px;
    font-weight: 200;
}

.news-wrapper::after {
      content: "";

}

.contact {
    text-align: center;

}

.contact h2 {
    font-weight: 800;
    font-size: 27pt;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 70px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #d3d2d3;
}

.footer h6 {
    font-weight: 300;
    font-size: 16pt;
    color: gray;
}

.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.item {
    padding: 35px;

}

.item #row {
    margin-right: 150px;
}

#map {
    height: 600px;
    width: 100%;
    position: relative;
    z-index: 0;
  }

  .form {
    background-color:white;
    height: 700px;
    width: 1000px;
    margin-top: -800px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    font-size: 14pt;
    color: #666;
    position: absolute;
    z-index: 1;
}

#map-contact {
    height: 600px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.contact #background {
    color: rgb(233, 233, 233);
    height: 600px;
    width: 100%;
}

.form-contact {
    background-color:white;
    height: 700px;
    width: 1000px;
    margin-top: -800px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    font-size: 14pt;
    color: #666;
    position: absolute;
    z-index: 1;
}

.form input {
    width: 900px;
    background-color: white;
    color: #666;
    border: 2px solid #ddd;
    font-size: 20px;
    padding: 10px;
}

.form label {
    margin-left: 10px;
    margin-top: 10px;
}

.form textarea {
    width: 900px;
    background-color: white;
    color: #666;
    border: 2px solid #ddd;
    font-size: 20px;
    padding: 10px;
}

.form button { 
    display: block;
    width: 300px;
    font-weight: 700;
    background-color: #4ea392;
    color: white;
    padding: 15px;
    margin: 60px 0 0;
    font-size: 12pt;
}


.form-contact input {
    display: flex;
    justify-content: flex-start;
    width: 450px;
    background-color: white;
    color: #666;
    border: 2px solid #ddd;
    font-size: 20px;
    padding: 10px;
    margin-top: 3px;
}

.form-contact label {
    margin-left: 10px;    
}

.form-contact label::after {
    content:'required';
    font-size: 12pt;
    color: #4ea392;
    width: 100px;
    height: 100px;
    margin-left: 274px;
}

.form-contact .subject::after {
    display: none;
}

.form-contact .message::after {
    margin-left: 293px;
}

.form-contact textarea {
    display: flex;
    width: 450px;
    background-color: white;
    color: #666;
    border: 2px solid #ddd;
    font-size: 20px;
    padding: 10px;
    margin-top: 3px;
}

.form-contact button { 
    display: block;
    width: 300px;
    font-weight: 700;
    background-color: #4ea392;
    color: white;
    padding: 15px;
    font-size: 12pt;
}

.form-contact .text {
    margin-bottom: 100px;
    margin-left: 60px;
    margin-right: 40px;
}

.form-contact .text h2 {
    font-size: 18pt;
    font-weight: 600;
}

.form-contact .text p {
    font-size: 12pt;
    font-weight: 200;
    color: #666;
    margin-top: 40px;
    margin-bottom: 60px;
}

.form-contact .text h3 {
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 40px;
}


.article p {
    font-size: 13pt;
    font-weight: 400;
    color: grey;
    text-align: justify;
}

.img-article {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-article img {
    width: 33.3%;
    margin-left: 20px;
}

.img-article :last-child {
    margin-right: 20px;
}

.large-img {
    display: block;
    margin: 0 auto;
}

section.number .number-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 200px;
}

section.number .number-wrapper .number-p {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


section.number .number-wrapper h4 {
    font-size: 50pt;
    color: #4ea392;
    text-align: right;
    padding-top: 10px;
}

section.number .number-wrapper p {
    font-size: 18pt;
    color: grey;
    font-weight: 400;
    padding-top: 20px;
    text-align: left;
}

section.number p {
    font-size: 13pt;
    font-weight: 400;
    color: grey;
    text-align: justify;
   
}





.mobile-wrapper {
    display: flex;
    justify-content: space-between;
}

.mobile-wrapper h4 {
    margin-left: 28px;
    font-weight: 400;
    font-size: 18pt;
    margin-top: 0;
}

.mobile-wrapper span {
    color: #4ea392;
}

.mobile-item h4::after {
    content: "";
    display: block;
    width: 90px;
    max-width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 9px;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 33px;
}

div.dymek-team{
    padding: 110px;
    background: rgb(233, 233, 233);
    height: 1000px;
    max-width: auto;
    position: relative;
    margin-top: 60px;
    z-index: 1;
}

div.dymek-team::before{
    content:'';
    position: absolute;
    left: 46.5%;
    top: -5px;
    width: 100px;
    height: 100px;
    display: block;
    transform: rotate(45deg);
    background: inherit;
}

.people-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.people-wrapper .people-item {
    background-color: white;
    border-bottom: 3px solid #4ea392;
    text-align: left;
    color: rgb(77, 77, 77);
    margin-top: 50px;
    margin-left: 30px;
}

.people-item h4 {
  font-size: 18pt;
  margin-left: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.people-item p {
  font-size: 13pt;
  margin-left: 20px;
  margin-top: 0px;
  font-weight: 200;
}

.people-wrapper::after {
    content: "";

}

.text {
    padding: 70px;
    font-size: 13pt;
    font-weight: 400;
    color: grey;
    text-align: justify;
}

.apply {
    background-color: #4ea392;
    text-align: center;
    width: auto;
    height: 400px;
    margin-top: 60px;
}

.aplly-elements {
    padding: 50px;
}

.apply p {
    font-size: 300;
    color: #fff;
}

.apply p::after {
    content: "";
    display: block;
    width: 100px;
    max-width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 25px auto;
}

.apply h4 {
    font-size: 300;
    color: #fff;
    text-decoration: none;
    border: none;
}

.button {
    display: block;
    width: 300px;
    font-weight: 700;
    background-color: white;
    color: #4ea392;
    text-decoration: none;
    padding: 15px;
    margin: 36px auto 0;
    font-size: 12pt;
}

